_cru*
doc/Build/
doc/Jake_Read/loca*
gcc/AtmelStart.eep
gcc/atmel_start.d
gcc/atmel_start.o
gcc/driver_init.d
gcc/driver_init.o
gcc/examples/
gcc/gcc/gcc/
gcc/gcc/newfile
gcc/gcc/samd21g18a_flash_with_bootloader.ld
gcc/gcc/samd51j19a_flash_with_bootloader.ld---
gcc/gcc/samd51j19a_flash_with_bootloader.ld---newer
gcc/gcc/system_samd51.d
gcc/gcc/system_samd51.o
gcc/gcc/xdatemydate
gcc/gpio_local.d
gcc/gpio_local.o
gcc/hal/
gcc/hpl/
gcc/main.d
gcc/main.o
sacr*
