gcc/AtmelStart.bin
gcc/AtmelStart.eep
gcc/AtmelStart.elf
gcc/AtmelStart.hex
gcc/AtmelStart.lss
gcc/AtmelStart.map
gcc/atmel_start.d
gcc/atmel_start.o
gcc/driver_init.d
gcc/driver_init.o
gcc/dotstar.d
gcc/dotstar.o
gcc/gpio_local.d
gcc/gpio_local.o
gcc/examples/
gcc/hal/
gcc/hpl/
gcc/main.d
gcc/main.o
gcc/samd21a/
